<a href="https://colab.research.google.com/github/justynababuchowska/data-science-bootcamp/blob/main/cwiczenia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
wzrost = float(input("Podaj wzrost: "))

licznik=0
while wzrost>3 and licznik<3:
    wzrost = float(input(f"Podaj wzrot w metrach(masz jeszcze: {3-licznik} proby): "))
    licznik+=1

waga = float(input("Podaj wagę: "))

bmi = wzrost/waga**2

print(f"Twoje bmi wynosi {bmi:.2f}")

if 18.5 <= bmi < 25:
    print("twoja waga jest ok")
elif bmi<18.5:
    print("masz niedowage")
elif bmi >25:
    print("masz nadwage")
else:
    print("masz otylosc")

Podaj wzrost: 1.70
Podaj wagę: 50.2
Twoje bmi wynosi 0.00
masz niedowage

In [ ]:
def sprawdz_pelnoletnosc(wiek):
    if wiek>18:
        return True
    return False

wiek = 15
sprawdz_pelnoletnosc(wiek)

False

In [ ]:
wyraz = input("podaj swoje imie: ")
licznik =0

for litera in wyraz:
    if litera == "a":
        licznik+=1

print(f"w podanym wyrazie a wystepuje {licznik} razy")

podaj swoje imie: justyna
w podanym wyrazie a wystepuje 1 razy

In [ ]:
def suma(liczba):
    s=0
    for x in liczba:
        if type(x) == int or type(x) == float:
            s+=x
    return s

lista=[1,10,20,"Ola", 12, 20.2]
print(suma(lista))

63.2

In [ ]:
## mapowanie oraz funcja zamiany st cel na far

def st_c_na_f(stopnie_c):
    st_f= stopnie_c*1.8+32
    return st_f

stopnie_c = [12, -2, 32, 16]

print(st_c_na_f(12))

stopnie_f = list(map(st_c_na_f,stopnie_c))
print(stopnie_f)

53.6
[53.6, 28.4, 89.6, 60.8]

In [ ]:
##lambda - szybka funkcja, zazwyczaj jednorazowo używana
st_c_na_f = lambda stopnie_c: stopnie_c*1.8+32

stopnie_c = [12, -2, 32, 16]
stopnie_f = list(map(st_c_na_f,stopnie_c)) ##mapujemy (na co zamieniamy, co zamieniamy)
print(stopnie_f)

##lambda to skrócona jednorazowa funkcja - możemy ją wkleić w mapowaniu przez co mamy krótki kod
stopnie_f = list(map(lambda stopnie_c: stopnie_c*1.8+32,stopnie_c))
print(stopnie_f)

#zwraca istatni znak
wyraz = "Aleksander"
ostatni_znak = lambda x:x[-1]
print(ostatni_znak(wyraz))

[53.6, 28.4, 89.6, 60.8]
[53.6, 28.4, 89.6, 60.8]
r

In [ ]:
lancuch = 'ala ma owce'
lancuch.index('l')#jak nie ma wyswietli sie blad
lancuch.find('l')#jak nie ma wyswietli sie -1
'l' in lancuch#wielkosc liter ma znaczenie

1

In [ ]:

def double(s:str,l:list,i:int):
    s*=2
    l*=2
    i*=2
    print(s,l,i)

zdanie='ala ma kota'
lista=[2,3,4]
liczba=5
double(zdanie,lista,liczba)

print(lista)

ala ma kotaala ma kota [2, 3, 4, 2, 3, 4] 10
[2, 3, 4, 2, 3, 4]

In [ ]:
# .isdigit() sprawdza czy jest cyfrą

def czy_cyfra(wyraz):
    lista=[]
    for znak in wyraz:
        if znak.isdigit():
            lista.append(znak)
    return lista

ciag_znakow = 'dzisiaj jest dzien 15.03.2024'
wynik = czy_cyfra(ciag_znakow)
print(wynik)

['1', '5', '0', '3', '2', '0', '2', '4']

In [ ]:
#tu dodamy wszystkie cyfry ale pojedyńcze

def suma_cyfr_prosta(zdanie):
    wynik=0
    for znak in zdanie:
        if znak.isdigit():
            wynik+=int(znak)
    return wynik


cytat = "Mama kupila 3 bulki i 2 chleby. Natomiast Marek kupil 12butelek"
suma_cyfr_prosta(cytat)

8

In [ ]:
#tu już złącza cyfry

def suma_cyfr(tekst):
    wynik=0
    l=0
    for znak in tekst:
        if znak.isdigit():
            l=l*10+int(znak)
        else:
            wynik+=l
            l=0

    return wynik


cytat = "Mama kupila 3 bulki i 2 chleby. Natomiast Marek kupil 12butelek"
print(suma_cyfr(cytat))

17

In [ ]:
#liczymy same słowa bez znaków

def licznik_slow(zdanie):
    wynik=0
    zdanie = zdanie.replace(",","").replace(".","").split()
    for wyraz in zdanie:
        if wyraz.isalpha() and len(wyraz)>2:
            wynik+=1
    return wynik

cytat = "Mama kupila 3 bulki i 2 chleby. Natomiast Marek kupil 12butelek"
print(licznik_slow(cytat))

7

In [ ]:
#liczy slowa używając słownika

def licz_slowa(zdanie:str):
    wszystkie_slowa = {}
    zdanie= zdanie.replace(",","").replace(".","").split()
    for slowo in zdanie:
        if slowo.isalpha() and len(slowo)>2:
            if slowo in wszystkie_slowa:
                wszystkie_slowa[slowo]+=1
            else:
                wszystkie_slowa[slowo]=1

    return wszystkie_slowa


cytat = "Mama kupila 3 bulki i 2 chleby. Natomiast Marek kupil 12butelek. Marek kupil kota."
print(licz_slowa(cytat))

{'Mama': 1, 'kupila': 1, 'bulki': 1, 'chleby': 1, 'Natomiast': 1, 'Marek': 2, 'kupil': 2, 'kota': 1}

In [ ]:
#licznik cyfr używając analogicznie słownika i używając plików tekstowych - poniżej info pliki tekstowe

def digit_counter(sciezka):
    counter={}


    plik = open(sciezka)
    znak = plik.read(1)

    while znak:
        if znak.isdigit() and znak not in counter:
            counter[znak]=1
        elif znak.isdigit():
            counter[znak]+=1
        znak = plik.read(1)
    plik.close()
    return counter

test = digit_counter("nowy.txt")
print(test)

for k,v in test.items():
    print(f"{k}:{v}")

{'3': 3, '2': 11, '1': 11}
3:3
2:11
1:11

In [ ]:
# Zadanie: Policz liczbę wystąpień liter w ciągu znaków. Wielkość liter nie ma znaczenia

text = "Ala ma 12 kotów. Adam nie ma HAHAHA!!! Pchła, szła."

counter={}
text_l= text.lower()

for litera in text_l:
    if litera.isalpha() and litera not in counter:
        counter[litera]=1
    elif litera.isalpha() and litera in counter:
        counter[litera]+=1
print(counter)

{'a': 11, 'l': 1, 'm': 3, 'k': 1, 'o': 1, 't': 1, 'ó': 1, 'w': 1, 'd': 1, 'n': 1, 'i': 1, 'e': 1, 'h': 4, 'p': 1, 'c': 1, 'ł': 2, 's': 1, 'z': 1}

In [ ]:
#pliki tekstowe
plik = open("/content/export_USDJPY_1440.csv", "r")
#pokazuje nam pozycję wskaznika w tekscie
pozycja_poczatkowa = plik.tell()
print(pozycja_poczatkowa)

tekst = plik.read()#odczyt pliku
pozycja_koncowa = plik.tell()
print(pozycja_koncowa)
print(tekst)#wyswietlenie pliku
plik.close()

In [ ]:
#analogiczny odczyt
tekst= open("/content/export_USDJPY_1440.csv").read()
print(tekst)

In [ ]:
#odczyt z parametrem - 100znakow
tekst_fragment = open("/export_USDJPY_1440.csv").read(100)
print(tekst_fragment)

Data,Close,Bulls_14,CCI_14,DM_14,OSMA,RSI_14,Stoch,DecisionClass
2000.01.04,103.15,0.9788,225.13302,

In [ ]:
#obsluga wyjatkow
lista = [23, "423", 1, "Dorota", 3, 5]

try:
    sum(lista)
except TypeError:
    print("nie można dodać")#obsluzy tylko ten blad
except:
    print("blad w kodzie")#kazdy inny blad

nie można dodać

In [ ]:
#funkcja sortujaca macierz względem różnicy maksymalnego i minimalnego parametru w wierszu +odwrotność
def max_min(l):
    wynik= max(l)-min(l)
    return wynik

def sum_sort(matrix):
    copy = [wiersz[:] for wiersz in matrix]
    copy.sort(key=lambda list: max(list) - min(list), reverse=True)
    return copy

def sum_sort_2(matrix):
    return sorted([wiersz[:] for wiersz in matrix],key=lambda l: max(l) - min(l), reverse=True)

matrix = [[0,2,9,4], [1,4,1,2], [5,3,0,6], [7,5,-3,5]]

result = sum_sort_2(matrix)
print(result)

[[7, 5, -3, 5], [0, 2, 9, 4], [5, 3, 0, 6], [1, 4, 1, 2]]

In [ ]:
tekst_ala = open("ala.txt").read()
print(tekst_ala)

Ala ma kota i dwa psy.

In [ ]:
plik= open("ala.txt")
odczyt=plik.read(2)
plik.tell()
plik.close()

In [ ]:
#odczyt pliku do spacji, a następnie cofniecie się do początku i odczyt całości. Bez seek() wyświetli resztę tekstu bez cofnięcia się do początku.

tekst = open("ala.txt")
znak = tekst.read(1)

while znak and not znak.isspace():
    print(znak)
    znak = tekst.read(1)

tekst.seek(0)#cofa nam się do początku tekstu
print(tekst.read())

tekst.close()

A
l
a
Ala ma kota i dwa psy.

In [ ]:
#readline - zwraca nam 1 linie razem z \n
#readlines - zwraca nam listę składającą się z łańcuchów znaków, gdzie 1łańcuch to 1 linia
#to co w nawiasie wpiszemy tyle znaków wyskoczy

tekst = open('liczby.txt')
fragment = tekst.readlines()
print(fragment)

['00000111101010101010\n', '00000111101010101010\n', '00000111101010101010\n', '00000111101010101010\n', '00000111101010101010\n', '00000111101010101010\n', '00000111101010101010\n', '00000111101010101010']

In [ ]:
#zapis do pliku
plik = open('nowy.txt', 'w')
imie = "Justyna"
nazwisko="babuchowska"
wiek=33
plik.write(f"mam na imie {imie} i nazwisko {nazwisko} wiek {wiek} lat\n")

imie = "Marta"
nazwisko="Roszak"
wiek=32
plik.write(f"mam na imie {imie} i nazwisko {nazwisko} wiek {wiek} lat\n")
plik.close()

In [ ]:
#dopisywanie tekstu
plik = open('nowy.txt', 'a')
plik.write("dodany tekst")
plik.close()

In [ ]:
#zapis pliku w trybie x - nie może istnieć inaczej błąd
plik = open("test.txt","x")
plik.write("tekst przykladowy")
plik.close()

In [ ]:
def read_table(sciezka):

    tabela=open("test.txt")
    tekst = tabela.readlines()
    data=[]
    for zdanie in tekst:
        zdanie = zdanie.split()
        data.append(zdanie)
    return data

przyklad = read_table("nowy.txt")
print(przyklad)

def read_table_2(sciezka):
    return [zdanie.split() for zdanie in open(sciezka).readlines()]

przyklad = read_table_2("nowy.txt")
print(przyklad)

[['tekst', 'przykladowy']]
[['mam', 'na', 'imie', 'Justyna', 'i', 'nazwisko', 'babuchowska', 'wiek', '33', 'lat'], ['mam', 'na', 'imie', 'Marta', 'i', 'nazwisko', 'Roszak', 'wiek', '32', 'lat'], ['dodany', 'tekst'], ['11111111111'], ['2222222222']]

In [ ]:
#rstrip() metoda która usówa białe znaki po prawej stronie strip() - usunie biale znaki po prawej i lewej stronie

tekst = open("nowy.txt")
linie = tekst.readline().rstrip()

while linie:
    print(linie)
    linie = tekst.readline().rstrip()

In [ ]:
#zamiana liter na znaki

tresc = "Ala ma kota"

id_znaku = 0
kod_znaku = 1

while not tresc.isdigit():
    znak = tresc[id_znaku]
    if not znak.isdigit():
        tresc=tresc.replace(znak, str(kod_znaku))
        kod_znaku+=1
    id_znaku+=1

print(tresc)

12345346783

In [ ]:
tekst_1="Ala ma kota"
tekst_2= tekst_1.replace("kota","psa")
print(tekst_2)

Ala ma psa

In [ ]:
#biblioteka random - losowe liczby
import random
a = 10
b = 50

for el in range(10):
    losowa_liczba= random.randint(a,b)
    print(losowa_liczba)

losowa_liczba_2 = [random.randint(a,b) for el in range(10)]
print(losowa_liczba_2)

#teraz tylko unikalne liczby 1sposob

unikalne_liczby = set(losowa_liczba_2)
print(unikalne_liczby)

#unikalne liczby 2sposob

unikalne_liczby_10 =[]

for el in range(10):
    losowa_l = random.randint(a,b)
    if losowa_l not in unikalne_liczby_10:
        unikalne_liczby_10.append(losowa_l)
print(unikalne_liczby_10)

#losowe liczby parzyste
liczby_parzyste = [el for el in losowa_liczba_2 if el%2==0]
print(liczby_parzyste)
#random.sample(zakres,ilosc) służy do losowego wybierania próbek z danego zbioru
zakres = [el for el in range(a,b+1)]
lista_losowa= random.sample(zakres,15)
print(lista_losowa)

# podanalista.count(el) liczy nam ile jest el w podanalista
lista_losowa.count(50)

In [ ]:
#lista.index(szukana) - wskazuje nam indeks szukanej w liscie
# try except - obsluga wyjatkow (zamiast bledu wyswietli to co w except)

lista = [2,3,6,"Ola", "kasia", 10, 30]
szukana = "Ola"

try:
    indeks = lista.index(szukana)
except:
    indeks = -1

print(indeks)

3

In [ ]:
#sortowanie listy można podac parametr w nawiasie
lista = ["Dorota", "Asia", "Kasia", "Ola", "Alan", "Ala", "Aleksandra", "Joanna"]
lista.sort()
print(lista)
lista.sort(reverse=True)
print(lista)
lista.sort(key=len)
print(lista)
lista.sort(reverse=True, key=len)
print(lista)
lista.sort(key=lambda s:s[-2])
print(lista)

In [ ]:
dane = [
    ["Jan", 74, 1.75, 41, 'M'],
    ["Ola", 55, 1.65, 23, 'K'],
    ["Test", 89, 1.89, 33, "M"]
 ]
print(dane)
print(dane[1])
print(dane[1][2])

for wiersz in dane:
    wzrost = wiersz[2]
    waga = wiersz[1]
    print(wiersz, f"BMI: {waga/wzrost**2}")

plec = [wiersz[-1] for wiersz in dane]
print(plec)
print(plec.count("K"))

[['Jan', 74, 1.75, 41, 'M'], ['Ola', 55, 1.65, 23, 'K'], ['Test', 89, 1.89, 33, 'M']]
['Ola', 55, 1.65, 23, 'K']
1.65
['Jan', 74, 1.75, 41, 'M'] BMI: 24.163265306122447
['Ola', 55, 1.65, 23, 'K'] BMI: 20.202020202020204
['Test', 89, 1.89, 33, 'M'] BMI: 24.915315920606925
['M', 'K', 'M']
1

In [ ]:
 import numpy as np

dane = [
    ["Jan", 74, 1.75, 41, 'M'],
    ["Ola", 55, 1.65, 23, 'K'],
    ["Test", 89, 1.89, 33, "M"]
 ]
array=np.array(dane)
print(array)

for row in array:
    print(row)

print(array[2,1])
print(array[:,-1])
pierwszy_wiersz= array[0]
print(pierwszy_wiersz)

for i_col in range(len(array[0])): # liczba kolumn array[0]
    print(array[:,i_col])#z calego zbioru (:) kolejny element danej kolumny

[['Jan' '74' '1.75' '41' 'M']
 ['Ola' '55' '1.65' '23' 'K']
 ['Test' '89' '1.89' '33' 'M']]
['Jan' '74' '1.75' '41' 'M']
['Ola' '55' '1.65' '23' 'K']
['Test' '89' '1.89' '33' 'M']
89
['M' 'K' 'M']
['Jan' '74' '1.75' '41' 'M']
['Jan' 'Ola' 'Test']
['74' '55' '89']
['1.75' '1.65' '1.89']
['41' '23' '33']
['M' 'K' 'M']

In [ ]:
#wyszukaj slowo w tekscie
def wyszukaj(sciezka, slowo):
    tekst = open(sciezka)
    linia = tekst.readline()

    while linia:
        if slowo in linia:
            print(linia, end="")# end="", to nic nie zostanie dodane na końcu wydruku, co oznacza, że kolejne wywołania print() będą kontynuacją tego samego wiersza.Domyslnie kursor przeniesiony do nowej linii
        linia = tekst.readline()

    tekst.close()

roszak = wyszukaj("nowy.txt", "Roszak")

mam na imie Marta i nazwisko Roszak wiek 32 lat

In [ ]:
slownik = {5:"Ala", 3.14:"PI", "test": 1234, "lista":[1,2,"Ola",5]}
klucze = slownik.keys()
print(list(klucze))
wartosci= list(slownik.values())
print(wartosci)
wszystko = list(slownik.items())
print(wszystko)

[5, 3.14, 'test', 'lista']
['Ala', 'PI', 1234, [1, 2, 'Ola', 5]]
[(5, 'Ala'), (3.14, 'PI'), ('test', 1234), ('lista', [1, 2, 'Ola', 5])]

In [ ]:
#metoda zip laczy nam 2listy w krotki spinajac elementy o tych samych indeksch
l1 = [4,3,1,6,9]
l2 = [7,6,7,2]
l3= zip(l1,l2)
print(l3)
print(list(l3))

<zip object at 0x78ea24c97040>
[(4, 7), (3, 6), (1, 7), (6, 2)]

In [ ]:
#powyżej 10 wyświetl tylko reszte z dzielenia przez 10
slownik = {"czynik A" : 3, "parametr 1": 126, "test": 887, "test2": 8}

for k, v in slownik.items():
    if v>10:
        slownik[k]= v%10
print(slownik)

{'czynik A': 3, 'parametr 1': 6, 'test': 7, 'test2': 8}

In [ ]:
#biblioteka os
import os
#utworzy folder (mk od make)
#os.mkdir("wyniki")

#sprawdzanie czy dany folder/plik istnieje
if not os.path.exists("wyniki"):
    os.mkdir("wyniki") #tu tworzy folder


#sprawdzanie czy dany folder/plik istnieje
os.path.exist("nowy")
#sprawdza czy istnieje folder
os.path.isdir('nowy')
#sprawdza czy istnieje plik
os.path.isfile("nowy")
#usuniecie folderu
os.rmdir('wyniki')
#usuniecie pliku
os.remove("nowy")

In [ ]:
#zwracanie listy nazw plików w folderze
import os
os.listdir('sample_data')

In [ ]:
os.path.join("ala","test","kot.log")
print( os.path.join("ala","test","kot.log") )

In [ ]:
#wyswietlamy wszystko co jest plikiem w danej sciezce
import os

def wyswietl_pliki(sciezka):

    nazwy_plikow = [nazwa for nazwa in os.listdir(sciezka) if os.path.isfile(os.path.join(sciezka, nazwa))]#tu robimy join aby wykonal nam sciezke dla kazdej nazwy pliku
    for nazwa in nazwy_plikow:
        print(nazwa)
        tresc = open(os.path.join(sciezka, nazwa)).read()#tu musimy znowu stworzyc sciezke przez laczenie - to mozna wstawic wyzej w nazwa
        print(tresc)

wyswietl_pliki("/content/drive/MyDrive/Colab Notebooks")

In [ ]:
#os.walk() zwraca generator do pełnej struktury, gdzie każdy element to krotka

sciezka = "/content/drive/MyDrive/Colab Notebooks"
gen = os.walk(sciezka)

for el in gen:
    print(el)

In [ ]:
# Z pliku wejściowego przepisujemy do pliku wyjściowego linie
# Na wejściu plik z parmai walutowymi, ostatnia kolumna, to róznica
# notowań. Chcemy przepisać do drugiego pliku tylko wiersze, w których
# różnica jest większa / mniejsza od podanej wartości.

def kopiuj_tekst(sciezka_in, sciezka_out, value: 0.0, up = True, sep = ",") -> None:
    rows= open(sciezka_in).readlines()
    kopia=[]
    kopia.append(rows[0])

    for row in rows[1:]:
        row_list= row.strip().split(sep)
        if row_list[-1] != "":
            row_value=float(row_list[-1])
            if row_value > value and up :
                kopia.append(row)
            elif row_value<value and not up:
                kopia.append(row)

    open(sciezka_out,"w").writelines(kopia)

dane_wejscia = "/content/drive/MyDrive/Colab Notebooks/export_USDJPY_1440.csv"
plik_wyjscia = "plik_wyjscia.csv"

kopiuj_tekst(dane_wejscia, plik_wyjscia, value=2.2)

In [ ]:
#wczytać z odrębnych folderów pliki i wyciągnąc cyfry int plus policzyc sumę (zakładamy, że cyfry całkowite oddzielone .,)
import os
def count_numbers(path:str) -> int:
    dir_names=[os.path.join(path, name) for name in os.listdir(path) if os.path.isdir(os.path.join(path, name))]

    all_sum=0
    for dir_name in dir_names:
        print(dir_name.split(os.path.sep)[-1])
        counter={}

        for name in os.listdir(dir_name):
            tekst=open(os.path.join(dir_name, name)).read().replace(".", " ").replace(","," ")
            words = tekst.split()
            for word in words:
                if word.isdigit():
                    counter[word]= counter.get(word, 0)+1
                    all_sum+=int(word)

        for k, v in counter.items():
            print(f"{k}: {v}")
    return all_sum


suma=count_numbers("/content/drive/MyDrive/Colab Notebooks/ksiazki")
print(suma)

In [ ]:
#projekt matrix
#musimy z folderu odczytac pliki do odczytu
#musimy znalezc index wiersza, gdzie jest confusion matrix
# otworzyc pierwszy plik i od tego indeksu odczytac i tyko to co jest przed "|", zapisać jako one_cm
#zrobić sume cm, gdzie każdy następny będzie dodawany jeśłi jest 0 zwraca nam istniejącą wartość sumy
#zapisać do pliku jako output
import numpy as np
import os

def read_one_cm(lines, index):
    one_cm=[]
    while "|" in lines[index]:
        line=lines[index]
        line=line.split("|")[0]
        line=line.split()
        line=list(map(int,line))
        one_cm.append(line)

        index+=1
    return one_cm

def add_cm(cm, one_cm):
    if not cm:
        return one_cm
    array_cm= np.array(cm)
    array_one_cm = np.array(one_cm)
    array_cm+=one_cm

    return array_cm.tolist()

def write_cm(sum_cm):
    output= open("results.txt", "w")
    for row in sum_cm:
        output.writelines(" ".join(map(str,row))+"\n")
    output.close()

def confusion_matrix(path):
    names=os.listdir(path)
    sum_cm = None
    for name in names:
        lines=open(os.path.join(path,name)).readlines()
        index= lines.index("=== Confusion Matrix ===\n")+3
        one_cm= read_one_cm(lines,index)
        sum_cm = add_cm(sum_cm, one_cm)
    write_cm(sum_cm)

#uruchomienie programu
path = "/content/drive/MyDrive/Colab Notebooks/dane-projekt/dane"
confusion_matrix(path)

In [ ]:
import os

sciezka = "/content/drive/MyDrive/Colab Notebooks/dane-projekt/dane/AUD_USD CART.txt"
tekst=open(sciezka).readlines()
index= tekst.index("=== Confusion Matrix ===\n")+3

dodane=[]
while "|" in tekst[index]:
    linia=tekst[index]
    linia=linia.split("|")[0]
    linia=linia.split()
    linia=list(map(int,linia))
    dodane.append(linia)
    index+=1
print(dodane)

[[2, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0], [5, 12, 12, 2, 0, 0, 0, 0, 0, 0, 0], [0, 3, 39, 23, 4, 0, 0, 0, 0, 0, 0], [0, 1, 18, 81, 40, 1, 0, 0, 0, 0, 0], [0, 0, 0, 22, 178, 53, 2, 0, 0, 0, 0], [0, 0, 0, 3, 43, 227, 59, 0, 0, 0, 0], [0, 0, 0, 0, 0, 62, 166, 24, 0, 0, 0], [0, 0, 0, 0, 0, 3, 55, 48, 9, 2, 0], [0, 0, 0, 0, 0, 0, 1, 13, 19, 2, 1], [0, 0, 0, 0, 0, 0, 0, 1, 5, 5, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [ ]:
#pandas
import pandas as pd
lista = [10,20,50,44,13.5, -22]

#pandas Series() do pojedyńczych kolumn
l_pd=pd.Series(lista)
print(l_pd.abs()) #zamienia minus na plus ale nie zamienia głównej listy
print(l_pd.describe()) # wyświetla min, max, count(jak len), procent
l_pd.index = ["a","b","c","d","e","f"] #zmieniamy indeksy
print(l_pd)
print(l_pd["b"])#wyswietlamy po indeksie

#pandas DataFrame() do wielokolumnowych typow danych cos jak excel
a = [['Ania',24],['Michał',9],['Darek',40],['Ewa',43]]
a_pd = pd.DataFrame(a)
print(a_pd)
a_pd.columns = ["imie", "wiek"] # dodajemy nazwy kolumn
print(a_pd)

#zamiana slownika na DataFrame

s = {"imie" : ['Ania', 'Michał', 'Darek'], "wiek": [24, 9, 40]}
s_df = pd.DataFrame(s)
print(s_df)

#wczytywanie pliku za pomocą pandas

dane = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/export_USDJPY_1440.csv")
print(dane[:5])
print(dane[["Close", "OSMA"]])#w pandas aby wyswietlic wiele kolumn musimy uzyc nawiasu podwojnego [[]] pomaga mu to odrozic od wczytania pojedynczej kolumny []
print(dane.iloc[0:4, 0:2])#aby wyswietlic okreslony zakres kolumn i wierszy - [wiersze-1, kolumny-1]
print(dane.loc[0:4, ["Close", "OSMA"]])#jesli chcemy wyswietlic zakres ale uzywajac rowniez nazw

In [ ]:
#pandas podstawowe operacje
import pandas as pd
dane = pd.read_csv("http://analityk.edu.pl/wp-content/uploads/2020/01/Countries.csv")
dane_copy = dane[["Country", "Region", "Population"]].copy() #tworzymy kopie ale zawierajaca wybrane kolumny
print(dane_copy)
dane_copy["Population"] /= 1000000 #zmieniamy wyświetlanie populacji w calej kolumnie aby byla w mln
dane_copy["Nowa_col"] = 10 #wstawia nowa kolumne z wartosciami 10
dane_copy["Nowa_col"][1] =5 #wstawia wartosc 5 dla indeksu 1 w kolumnie"Nowa_col"
dane_copy.head()#wyswietla 5pierwszych wierszy tabeli

#funkcja iterrows - Zwraca ona index oraz zawartość aktualnego wiersza.
#Dodatkowo tworzymy, nową kolumnę, oraz nadajemy jej wartość za pomoca funkcji loc, która umożliwia nam poruszanie się za pomocą numeru wiersza, oraz nazwy kolumny.

for index, row in dane_copy.iterrows():
    if row["Population"]>100:
        dane_copy.loc[index, "Size"] = "big"
        print(row["Country"], dane_copy.loc[index, "Size"])

#kolejna metoda itertuples ale otrzymujemy krotke

for row in dane_copy.itertuples():
    if row.Population>200:
        print(dane_copy[["Population", "Country"]])

In [ ]:
#Filtrowanie DataFrame za pomocą maski
import pandas as pd
import numpy as np

dane_f = pd.read_csv("http://analityk.edu.pl/wp-content/uploads/2020/01/Countries.csv")
print(dane_f.Population == 31056997) #wyswietli nam True w miejscu gdzie wartosc jest taka
print(dane_f["Population"]== 31056997) #to samo

print(dane_f[dane_f.Population == 31056997]) #wyswietli nam tylko ten wiersz
print(dane_f[dane_f["Population"]== 31056997])#to samo

print(dane_f[(dane_f["Population"]<31056997)& (dane_f["Population"]>21056997)]) #łączenie warunków przez &

#Sumowanie, Grupowanie, oraz inne kalkulacje

print(dane_f["Population"].sum())
print(dane_f["Population"].min())
print(dane_f["Population"].max())
print(dane_f["Population"].mean())

print("..............................")
#to samo tylko zgrupowane - dodajemy przed metodę groupby()
print(dane_f.groupby("Region")["Population"].sum())
print(dane_f.groupby("Region")["Population"].min())
print(dane_f.groupby("Region")["Population"].max())
print(dane_f.groupby("Region")["Population"].mean())

# możemy to wszystko uzyskac z apomoca funkcji agregujacej "agg"
print(dane_f.groupby("Region")["Population"].agg([max, min, sum, np.mean])) #w funkcji agg nie ma mean ale mozna ja dodac stosujac biblioteke numpy

#mozemy przypisac inne nazwy kolumn niz sum, max min przekazujac do funksji slownik
# as_index=False oznacza, ze kolumna Region jest osobna kolumną z danymi a nie indeksem jak powyzej, ulatwia to dalsza manipulacje danymi
print(dane_f.groupby("Region", as_index=False)["Population"].agg({"Suma": sum, "Max": max, "Minim": min}))

In [ ]:
#Łączenie DataFrame - SQL Join
import pandas as pd

a = [['Ania',24],['Michał',9],['Darek',40],['Ewa',43]]
df_a = pd.DataFrame(a)
df_a.columns = ["Imie", "Wiek"]
print(df_a)

b = {'Imię':['Ewa','Michał','Krzysiek','Kasia','Lucja'],'Miasto':['Warszawa','Kraków','Gdańsk','Poznań','Łódź']}
df_b = pd.DataFrame(b)
print(df_b)

#łączenie join (czesc wspolna)

     Imie  Wiek
0    Ania    24
1  Michał     9
2   Darek    40
3     Ewa    43
       Imię    Miasto
0       Ewa  Warszawa
1    Michał    Kraków
2  Krzysiek    Gdańsk
3     Kasia    Poznań
4     Lucja      Łódź